.head {
    text-align: center;
    background-color: navy;
    color : white;
    padding: 8px;
}
.btn {
    background-color: blue;
    border-radius: 5px;
    padding: 2px;
}
:hover.btn{
    background-color: grey;}

.searhBar{
    font-size: medium;
    justify-content: center;
    padding: 5px;
    border-radius: 5px;
    border-style:groove;

}

.cardBody{
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
}

.cityN{
    font-size: x-large;
    font-weight: bold;
    color:black;
}

.forCastBox{
    font-size: small;
    display:flex;
    color: white;
    justify-content: space-around;
    padding-top: 20px;
}

.day{
    background-color: blue;
    padding:10px;
    margin:2px;
    border-radius: 5px;
}

.crntWeather{
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 50px;
    background-color: rgb(173, 172, 172);    
    border-radius: 5px;
    font-size: large;
    font-weight: bold;
    color: black;
}
.goodCondition{
    background-color: yellow;
}
.uvIndexName{
    display: flex;
}

.uvIndex{
    border-radius: 5px;
    padding: 5px;
}

.p{
    margin: 2px;
}

.currentIcon {
    border-radius: 5px;
}
.title{
    font-size: x-large;
    font-weight: bold;
    color:black;
    padding-top: 20px;
    padding-bottom: 20px;
}

.col-sm-8{
    padding-top: 20px;
}

.col-sm-4 {
    padding:20px;
}